%h1 Welcome to the BBC Capstone Project Homepage!
%h1 This is testing HAML

%p
  I would like to make a
  =link_to "link to FaceBook", "https://facebook.com"
  in my Rails app.

=link_to "PDF file link", "test_pdf.pdf"

- 2.times do
  %br
  
=image_tag "gibson_headshot.png", width: "100"
