=content_for :title, "Capstone 2: BBC Project"

.welcome
  .container-fluid
    .row#banner
      =image_tag "circuit_banner.png"
  -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
  .container-fluid
    .row.pt-3.justify-content-between
      .col-md-2.p-3
        .flex-row
          %h5 Document Resources:
        .flex-row
          %ul
            -# %li
            -#   =link_to "Project Paper", "test_pdf.pdf"
            %li
              =link_to "Project Poster", "BBC Project Poster.pdf"
            %li
              =link_to "Project Presentation", "BBC Project Presentation.pdf"
            %li
              =link_to "Wiring Overview Diagram", "Block Diagram.pdf"
            %li
              =link_to "AutoCAD Diagrams", "CAD1&2.pdf"
            %li
              =link_to "Source Code Flow Chart", "Column1&2.pdf"
        .flex-row
          %h5 Online Resources:
        .flex-row
          %ul
            %li
              =link_to "Raw Source Code", "BBC_src_code.cpp"
            %li
              =link_to "Source Code GitHub Repo", "https://github.com/Lexxeous/capstone_2_arduino"
            %li
              =link_to "Website GitHub Repo", "https://github.com/Lexxeous/capstone_2_website"
      -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
      .col-md-5
        %center
          %h2 Welcome to the BBC Capstone Project Homepage!
        %h5 Objective:
        %p.justify-col
          Our project objective was to create a cheaper hardware version of an automatic generator backup controller for an external battery than what already exists on the open market.
          The hardware controller should automatically start and stop a generator based on the current external battery’s voltage levels.
          The generator should automatically charge the battery when the voltage drops below a certain threshold value.
          The generator should automatically turn off when the external battery is sufficiently charged.
        %h5 Project Description:
        %p.justify-col
          The Automatic Generator Battery Backup Controller (or simply
          =succeed "," do
            %i BBC
          as we call it) is a hardware system regulated by an
          =link_to "Arduino Uno Microcontroller", "https://store.arduino.cc/usa/arduino-uno-rev3"
          and controlled by an Arduino compatible
          =link_to "Liquid Crystal Display", "https://en.wikipedia.org/wiki/Liquid-crystal_display"
          (
          %i LCD
          ). The
          %i BBC
          system can help those who depend on solar power, especially those in developing nations. It eliminates the need to manually start and stop a generator, making the generator more convenient and efficient.
          %br
          %br
          The
          %i BBC
          system connects to general purpose generators and monitors an external battery's voltage. When the external battery's voltage drops below a user specified threshold (
          %i 11.0V ~ 12.0V
          =succeed "," do
            )
          the
          %i BBC
          system activates the generator's starter, for a user specified amount of time (
          %i 2.0s ~ 3.0s
          =succeed "," do
            )
          in an attempt to power on the generator. If the generator successfully starts and the external battery's voltage reaches a separate user specified threshold (
          %i 13.0V ~ 14.0V
          =succeed "," do
            )
          the
          %i BBC
          system powers off the generator and waits for the external battery's voltage to deplete again, then repeats. If the generator fails to power on, the
          %i BBC
          system delays for a user specified amount of time (
          %i 20s ~ 60s
          =succeed "," do
            )
          before activating the generator's starter again. The
          %i BBC
          system is only allowed three iterations of failed starter attempts in succession before displaying an error and taking appropriate action.
          %br
          %br
          An
          =link_to "Arduino Compatible Keypad Shield Display", "https://www.banggood.com/Keypad-Shield-Blue-Backlight-For-Arduino-Robot-LCD-1602-Board-p-79326.html"
          shows a main menu with live information about the external battery's voltage and allows the user to adjust the system parameters (minimum and maximum generator threshold voltages, the between-iteration delay time, and the generator's starter duration). If the attached generator does not power on within the allotted amount of starter time and iterations, the
          %i BBC
          system displays an error message (
          %i "Starter Failure!"
          ), lights up the red
          =link_to "Light Emitting Diode", "https://en.wikipedia.org/wiki/Light-emitting_diode"
          (
          %i LED
          )
          indicator, and halts itself to be reset. The
          %i BBC
          system reset feature is to help prevent burn-out of the starter or generator during operation.
          %br
          %br
          At any time while viewing the main menu, a user can toggle the system's automation status or adjust the system parameters.
          Using the
          %i UP
          and
          %i DOWN
          buttons on the
          %i LCD
          keypad allows the user to set/toggle the automation status, determining if the system should automatically try to start and stop the generator, or not.
          This feature is useful during system maintenance and any executive reasons for system stagnation.
          Using the
          %i LEFT
          and
          %i RIGHT
          buttons on the
          %i LCD
          allows the user to specify all the aforementioned system parameters.
          These values are moderately variable to give the user a more dynamic and optimized controller for their particular generator.
          At any time within the parameter selection menu, the user can press
          %i SELECT
          to immediately leave the parameter selection menu and set all the parameter values to their current or changed states without needing to scroll through each parameter unnecessarily.
          The parameter selection feature also uses on-board
          =link_to "Electronically Erasable Programmable Read-Only Memory", "https://en.wikipedia.org/wiki/EEPROM"
          (
          %i EEPROM
          ) to read and set the parameter values.
          This feature persists parameter values through menu changes, system resets, and power outages to easily keep optimized settings.
          %br
          %br
          The
          %i BBC
          system also has a feature that turns off the
          %i LCD
          display after 10 or more seconds of user inactivity (not pressing any of the buttons on the
          %i LCD
          keypad). When the
          %i LCD
          is off and the user presses
          =succeed "," do
            %i SELECT
          the
          %i LCD
          turns on and the system returns to its current state.
          If the user has set the automation status to "ON", the system will run as normal in the background, even if the
          %i LCD
          is off.
          This inactivity feature is useful to save power/energy over the lifespan of the
          %i BBC
          system, to help prevent burn-out of the
          =succeed "," do
            %i LCD
          and to help prevent unintentional system manipulation from outside sources.
          -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
          %h5 Hardware:

          .row.justify-content-center.mb-5
            =image_tag "hardware.png", size: "250x425"

          .row.justify-content-center.mb-2
            Prototype vs. Optimized Consumer Hardware Cost

          %table.mb-2
            %tr.headings
              %th.heading Category
              %th.heading Component
              %th.heading Quantity
              %th.heading Prototype
              %th.heading Consumer
            %tr.row_group
              %td.table_category Microcontroller
              %td.table_component
                =link_to "Arduino Uno Microcontroller", "https://www.ebay.com/itm/ATmega328P-CH340G-UNO-R3-Board-USB-Cable-Compatible-with-Arduino-L2/173019953288"
              %td.table_quantity 1 / 1
              %td.table_prototype 4.42000
              %td.table_consumer 4.42000
            %tr
              %td.table_category
              %td.table_component
                =link_to "Arduino Compatible Screw Shield", "https://www.itead.cc/itead-proto-screw-shield.html"
              %td.table_quantity 1 / 1
              %td.table_prototype 3.50000
              %td.table_consumer 3.50000
            %tr
              %td.table_category
              %td.table_component
                =link_to "Arduino Compatible Keypad Shield Display", "https://www.banggood.com/Keypad-Shield-Blue-Backlight-For-Arduino-Robot-LCD-1602-Board-p-79326.html"
              %td.table_quantity 1 / 1
              %td.table_prototype 4.11000
              %td.table_consumer 3.49000
            %tr.row_group
              %td.table_category Regulator
              %td.table_component
                =link_to "SUPERNIGHT 12V~24V DC to 5V DC Voltage Regulator", "http://www.supernight.cc/supernight-tm-led-strip-strings-power-supply-dc-12v-24v-to-5v-10a-50w-dc-volt-converter-step-down-regulator-dc-voltage-transformer.html"
              %td.table_quantity 1 / 1
              %td.table_prototype 9.99000
              %td.table_consumer 9.99000
            %tr.row_group
              %td.table_category Relay
              %td.table_component
                =link_to "Songle SRD-05VDC-SL-C Relays", "https://www.banggood.com/Mini-5V-DC-Power-Relay-SRD5VDCSLC-5-Pin-PCB-Type-p-930170.html"
              %td.table_quantity 2 / 2
              %td.table_prototype 2.14000
              %td.table_consumer 2.14000
            %tr
              %td.table_category
              %td.table_component
                =link_to "Cutler-Hammer D4PR2A DPDT 120V AC Relay", "https://www.newark.com/eaton-cutler-hammer/d4pr2a/relay-dpdt-240vac-30vdc-5a-socket/dp/46K6469"
              %td.table_quantity 1 / 1
              %td.table_prototype 15.70000
              %td.table_consumer 9.79000
            %tr.row_group
              %td.table_category Terminal
              %td.table_component
                =link_to "Dinkle DK4N Terminal Blocks", "https://www.amazon.com/Dinkle-DK4N-BL-Terminal-Block-10-22AWG/dp/B00R1WU460/"
              %td.table_quantity 100 / 28
              %td.table_prototype 41.21000
              %td.table_consumer 11.54000
            %tr.row_group
              %td.table_category Mounting
              %td.table_component
                =link_to "WAGO DIN Rail", "https://www.newark.com/wago/210-162/din-rail/dp/28H9089"
                (
                %i 1.0m
                )
              %td.table_quantity 1 / 0.215
              %td.table_prototype 7.86000
              %td.table_consumer 1.31150
            %tr
              %td.table_category
              %td.table_component
                =link_to "YKS 5V Active Low 1-Channel Relay Mounting Boards", "https://www.newegg.com/Product/Product.aspx?Item=9SIA9083852861"
              %td.table_quantity 2 / 2
              %td.table_prototype 2.89000
              %td.table_consumer 2.89000
            %tr
              %td.table_category
              %td.table_component
                =link_to "Omron P2RF-08-E Relay Socket", "https://www.digikey.com/product-detail/en/omron-automation-and-safety/P2RF-08-E/Z207-ND/"
              %td.table_quantity 1 / 1
              %td.table_prototype 10.48000
              %td.table_consumer 6.11000
            %tr
              %td.table_category
              %td.table_component
                Metal Base Plate
                (
                %i 23.0cm x 14.7cm x 0.2cm
                )
              %td.table_quantity 1 / 1
              %td.table_prototype variable
              %td.table_consumer variable
            %tr
              %td.table_category
              %td.table_component Screw and Bolts
              %td.table_quantity as needed
              %td.table_prototype variable
              %td.table_consumer variable
            %tr.row_group
              %td.table_category Power
              %td.table_component
                =link_to "Tektronix PS283 DC Power Supply", "https://www.used-line.com/power-supplies/tektronix/tektronix-ps283/item-11173482"
              %td.table_quantity 1 / 1
              %td.table_prototype 350.00000
              %td.table_consumer N/A
            %tr
              %td.table_category
              %td.table_component 120V AC 60Hz Socket
              %td.table_quantity 1 / 1
              %td.table_prototype 0.00000
              %td.table_consumer N/A
            %tr.row_group
              %td.table_category Connectivity
              %td.table_component
                =link_to "Pomona B-24 Banana to Banana Test Leads", "https://www.digikey.com/product-detail/en/pomona-electronics/B-24-2/501-1046-ND/"
              %td.table_quantity 2 / 2
              %td.table_prototype 12.18000
              %td.table_consumer N/A
            %tr
              %td.table_category
              %td.table_component
                =link_to "Mueller BU-60S Alligator Clips", "https://www.alliedelec.com/mueller-bu-60s/70188573/"
              %td.table_quantity 2 / 2
              %td.table_prototype 1.04000
              %td.table_consumer N/A
            %tr
              %td.table_category
              %td.table_component
                =link_to "75kΩ ± 5% Resistor", "https://www.digikey.com/product-detail/en/stackpole-electronics-inc/CF14JT75K0/CF14JT75K0CT-ND/"
                (
                %i for voltage divider
                )
              %td.table_quantity 1 / 1
              %td.table_prototype 0.10000
              %td.table_consumer 0.00784
            %tr
              %td.table_category
              %td.table_component
                =link_to "15kΩ ± 5% Resistor", "https://www.digikey.com/product-detail/en/stackpole-electronics-inc/CF18JT15K0/CF18JT15K0CT-ND"
                (
                %i for voltage divider
                )
              %td.table_quantity 1 / 1
              %td.table_prototype 0.10000
              %td.table_consumer 0.00904
            %tr
              %td.table_category
              %td.table_component
                =link_to "200Ω ± 1% Resistor", "https://www.digikey.com/product-detail/en/vishay-bc-components/SFR16S0002000FR500/PPC200XCT-ND/"
                (
                %i for red LED
                )
              %td.table_quantity 1 / 1
              %td.table_prototype 0.20000
              %td.table_consumer 0.02831
            %tr
              %td.table_category
              %td.table_component
                =link_to "Dinkle DSS4N-10P Jumper Connections", "https://www.amazon.com/Dinkle-DSS4N-10P-Terminal-Press-Fit-Jumper/dp/B00R1WTWBI/"
              %td.table_quantity 100 / 26
              %td.table_prototype 27.98000
              %td.table_consumer 7.27480
            %tr
              %td.table_category
              %td.table_component Insulated Copper Wiring
              %td.table_quantity as needed
              %td.table_prototype varibale
              %td.table_consumer variable
            %tr.row_group
              %td.table_category Miscellaneous
              %td.table_component
                =link_to "Red 5V DC LED", "https://hobbyking.com/en_us/led-5mm-red.html"
                (
                %i optional
                )
              %td.table_quantity 1 / 1
              %td.table_prototype 0.46000
              %td.table_consumer 0.460000
            %tr
              %td.table_category
              %td.table_component 120V AC 60Hz Switch
              %td.table_quantity 1 / 1
              %td.table_prototype variable
              %td.table_consumer N/A
            %tr.row_group.totals
              %td.table_category Total ($USD)
              %td.table_component
              %td.table_quantity
              %td.table_prototype 494.36000
              %td.table_consumer 62.96149

          .row.mb-3.px-3
            %p
              Using the International System of Units (SI Units); V = volt, m = meters, Ω = ohm, kΩ = kiloohm, Hz = hertz.
              %sup 1, 2, 3

          -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
          %h5 Software:
          .col.p-0.mb-5
            .row.justify-content-start.align-items-center.pl-3
              .flex-col.pr-3
                .flex-row
                  =image_tag "arduino_logo.png", size: "80x80"
              .flex-col.bio
                .flex-row
                  =link_to "Arduino IDE", "https://www.arduino.cc/en/Main/Software"
                  %br
                  .justify-col
                    For modifying, uploading, and testing software for the
                    %i BBC
                    system.
            %br
            .row.justify-content-start.align-items-center.pl-3
              .flex-col.pr-3
                .flex-row
                  =image_tag "autocad_logo.png", size: "80x80"
              .flex-col.bio
                .flex-row
                  =link_to "AutoCAD", "https://www.autodesk.com/products/autocad/overview"
                  %br
                  .justify-col
                    For designing and drafting official pinout diagrams to represent the
                    %i BBC
                    system.
            %br
            .row.justify-content-start.align-items-center.pl-3
              .flex-col.pr-3
                .flex-row
                  =image_tag "draw_io_logo.png", size: "80x80"
              .flex-col.bio
                .flex-row
                  =link_to "draw.io", "https://www.draw.io/"
                  %br
                  .justify-col
                    For designing and drafting overview connection diagrams to represent the
                    %i BBC
                    system.
            %br
            .row.justify-content-start.align-items-center.pl-3
              .flex-col.pr-3
                .flex-row
                  =image_tag "github_logo.png", size: "80x80"
              .flex-col.bio
                .flex-row
                  =link_to "GitHub", "https://github.com"
                  %br
                  .justify-col
                    For organizing and storing all backups of and committing changes to all
                    %i BBC
                    project source code.
            %br
            .row.justify-content-start.align-items-center.pl-3
              .flex-col.pr-3
                .flex-row
                  =image_tag "google_apps_logo.png", size: "80x60"
              .flex-col.bio
                .flex-row
                  =link_to "Google Apps", "https://apps.google.com/user/hub"
                  %br
                  .justify-col
                    For creating, sharing, storing, and managing files amongst all team members for the
                    %i BBC
                    project.
            %br
            .row.justify-content-start.align-items-center.pl-3
              .flex-col.pr-3
                .flex-row.pr-3
                  =image_tag "heroku_logo.png", size: "62x75"
              .flex-col.bio
                .flex-row
                  =link_to "Heroku", "https://dashboard.heroku.com/"
                  %br
                  .justify-col
                    For publically creating, deploying, and testing the
                    %i BBC
                    project homepage website.
            %br
            .row.justify-content-start.align-items-center.pl-3
              .flex-col.pr-3
                .flex-row.pr-3
                  =image_tag "ror_logo.png", size: "62x75"
              .flex-col.bio
                .flex-row
                  =link_to "Ruby on Rails", "https://rubyonrails.org/"
                  %br
                  .justify-col
                    For locally designing, creating, and testing the
                    %i BBC
                    project homepage website.
          -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
          .col.p-0.mb-5
            %small
              .justify-col
                1. Prototype total cost was calculated based on the assumption that no hardware components are/were previously owned and that every component must be purchased individually.
              %br
            %small
              .justify-col
                2. Actual prototype total cost was free of charge. All hardware components were readily available and provided by Tennessee Technological University
                (
                %i TTU
                )
                , the Electrical & Computer Engineering
                (
                %i ECE
                ) department, and Dr. Michael A. Baswell.
              %br
            %small
              .justify-col
                3. Optimized consumer total cost was calculated based on the assumption that all hardware could be bought at wholesale price and that no testing components needed to be purchased or used. Wholesale quantity is upwards of 1000+ units for some components.
      -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
      .col-md-3.p-3
        .row.justify-content-start
          %h4 Meet the Team:
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "odell_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Zachary M. O'Dell
            .flex-row.pt-1
              %i Team Lead, Logistics Manager, Software Implementation.
            .flex-row
              =link_to "zmodell42@students.tntech.edu", "mailto:zmodell42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "grey_handshake_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "grey_linkedin_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/zac.odell.1"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "gibson_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Jonathan A. Gibson
            .flex-row.pt-1
              %i Asst. Team Lead, File Manager, Web Designer, Software Tester.
            .flex-row
              =link_to "jagibson44@students.tntech.edu", "mailto:jagibson44@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/7599825"
              =link_to (image_tag "linkedin_logo.png", size: "20x20"), "https://www.linkedin.com/in/lexxeous/"
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/Lexxeous"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "adair_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Joshua P. Adair
            .flex-row.pt-1
              %i Software Lead, Arduino Research and Implementation.
            .flex-row
              =link_to "jpadair42@students.tntech.edu", "mailto:jpadair42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/7593656"
              =link_to (image_tag "linkedin_logo.png", size: "20x20"), "https://www.linkedin.com/in/joshua-adair-811904126/"
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/joshua.adair.71"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "chulani_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Naveen M. Chulani
            .flex-row.pt-1
              %i Hardware Researcher, Presentation Lead.
            .flex-row
              =link_to "nmchulani42@students.tntech.edu", "mailto:nmchulani42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/7594978"
              =link_to (image_tag "linkedin_logo.png", size: "20x20"), "https://www.linkedin.com/in/naveen-chulani-532920134/"
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/naveen.chulani"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "iyizoba_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Chikwelueze C. Iyizoba
            .flex-row.pt-1
              %i Hardware Researcher, Asst. Presentation Lead.
            .flex-row
              =link_to "cciyizoba42@students.tntech.edu", "mailto:cciyizoba42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/6559420"
              =link_to (image_tag "linkedin_logo.png", size: "20x20"), "https://www.linkedin.com/in/clinton-iyizoba-a2090a124/"
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/chikwelueze.iyizoba"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "hashi_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Fahmi I. Hashi
            .flex-row.pt-1
              %i Hardware Constructor, Designer, & Tester.
            .flex-row
              =link_to "fihashi42@students.tntech.edu", "mailto:fihashi42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/6563051"
              =link_to (image_tag "grey_linkedin_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/fahmii2"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "tilley_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Jeff C. Tilley
            .flex-row.pt-1
              %i CAD Diagram Creator, Hardware Constructor & Designer.
            .flex-row
              =link_to "jctilley42@students.tntech.edu", "mailto:jctilley42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/7590132"
              =link_to (image_tag "grey_linkedin_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "grey_facebook_logo.png", size: "20x20"), welcome_path
    -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
    .row.pt-3.justify-content-center
      %small
        %i Special thanks to Tennessee Technological University, the Electrical & Computer Engineering
    .row.p-0.justify-content-center
      %small
        %i department, and Dr. Michael A. Baswell for sponsoring this project.
    .row.py-3.justify-content-center
      =link_to (image_tag "ttu_logo.png", size: "150x150"), "https://www.tntech.edu/"
    -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
