.welcome
  .container-fluid
    .row#banner
      =image_tag "circuit_banner.png"
  -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
  .container-fluid
    .row.pt-3.justify-content-between
      .col-md-2.p-3
        .flex-row
          %h5 Document Resources:
        .flex-row
          %ul
            %li
              =link_to "Project Paper", "test_pdf.pdf"
            %li
              =link_to "Project Poster", "test_pdf.pdf"
            %li
              =link_to "Project Presentation", "test_pdf.pdf"
            %li
              =link_to "Wiring Overview Diagram", "test_pdf.pdf"
            %li
              =link_to "AutoCAD Diagrams", "test_pdf.pdf"
            %li
              =link_to "Source Code Flow Chart", "test_pdf.pdf"
        .flex-row
          %h5 Online Resources:
        .flex-row
          %ul
            %li
              =link_to "Raw Source Code", "BBC_src_code.txt"
            %li
              =link_to "Source Code GitHub Repo", "https://github.com/Lexxeous/capstone_2_arduino"
            %li
              =link_to "Website GitHub Repo", "https://github.com/Lexxeous/capstone_2_website"
      -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
      .col-md-5
        %center
          %h2 Welcome to the BBC Capstone Project Homepage!
        %h5 Project Description:
        %p
          The Automatic Generator Battery Backup Controller (or simply
          =succeed "," do
            %i BBC
          as we call it) is a hardware system regulated by an
          =succeed "." do
            =link_to "Adruino Uno Microcontroller", "https://store.arduino.cc/usa/arduino-uno-rev3"
          %br
          %br
          The
          %i BBC
          system connects to general purpose generators and monitors an external battery's voltage. When the external battery's voltage drops below a user specified threshold (
          %i xx.xV ~ 11.5V
          =succeed "," do
            )
          the
          %i BBC
          system activates the generator's starter, for a user specified amount of time (
          %i 2.0s ~ 3.0s
          =succeed "," do
            )
          in an attempt to power on the generator. If the generator successfully starts and the external battery's voltage reaches a separate user specified threshold (
          %i 14.0V ~ xx.xV
          =succeed "," do
            )
          the
          %i BBC
          system powers off the generator and waits for the external battery's voltage to deplete again, then repeats. If the generator fails to power on, the
          %i BBC
          system delays for a user specified amount of time (
          %i xx ~ 30s
          =succeed "," do
            )
          before activating the generator's starter again. The
          %i BBC
          system is only allowed 3 iterations of failed starter attempts in succession before displaying an error and taking appropriate action.
          %br
          %br
          An
          =link_to "Arduino LCD Keypad Shield Display", "https://www.dfrobot.com/wiki/index.php/Arduino_LCD_KeyPad_Shield_(SKU:_DFR0009)"
          shows live information about the external battery's voltage and allows the user to control the minimum and maximum generator threshold voltages, the between-iteration delay time, and the generator's starter duration. If the attached generator does not power on within the alotted amount of starter time and iterations, the
          %i BBC
          system displays an error message (
          %i Starter Failure!
          ), lights up the red LED indicator, and halts itself to be reset. The
          %i BBC
          system reset feature is to help reduce the likelyhood of the starter or generator burning out during operation.
          -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
          %h5 Hardware Used:
          .row.justify-content-center
            =image_tag "hardware.png", size: "250x425"
          %br
          %ul
            %b Microcontroller Hardware:
            %ul
              %li
                01×
                =link_to "Arduino Uno Microcontroller", "https://store.arduino.cc/usa/arduino-uno-rev3"
                (
                %i $22.00
                )
              %li
                01×
                =link_to "Arduino LCD Keypad Shield Display", "https://www.dfrobot.com/product-51.html"
                (
                %i $9.90
                )
              (
              %i $31.90
              )
            %b Converters:
            %ul
              %li
                01×
                =link_to "SUPERNIGHT 12V~24V DC to 5V DC Voltage Regulator", "https://www.newegg.com/Product/Product.aspx?Item=0SW-004G-000B9"
                (
                %i $12.99
                )
              (
              %i $12.99
              )
            %b Relays:
            %ul
              %li
                02×
                =link_to "Songle SRD-05VDC-SL-C Relays", "https://www.newegg.com/Product/Product.aspx?Item=9SIA6RP36W3562"
                (
                %i $4.99
                )
              %li
                01×
                =link_to "Cutler-Hammer DPDT 120V AC Relay", "https://www.newark.com/eaton-cutler-hammer/d4pr2a/relay-dpdt-240vac-30vdc-5a-socket/dp/46K6469"
                (
                %i $15.70
                )
              (
              %i $25.68
              )
            %b Terminal Hardware:
            %ul
              %li
                28×
                =link_to "Dinkle DK4N DIN Rail Terminal Blocks", "https://www.amazon.com/Dinkle-DK4N-BL-Terminal-Block-10-22AWG/dp/B00R1WU460/"
                (
                %i $41.21
                )
              (
              %i $41.21
              )
            %b Mounting Hardware:
            %ul
              %li
                01×
                =link_to "Deutsches Institut für Normung (DIN) Mounting Rail", "https://www.dinkle.com/en/Terminal_3/TS-35N"
                (
                %i ≥ 21.5cm
                )
                (
                %i $00.00
                )
              %li
                02×
                =link_to "YKS 5V Active Low 1 Channel Relay Module Mounting Boards", "https://www.newegg.com/Product/Product.aspx?Item=9SIA9083852861"
                (
                %i $00.00
                )
              %li
                01×
                =link_to "Omron P2RF-08-E Relay Socket", "https://www.digikey.com/product-detail/en/omron-automation-and-safety/P2RF-08-E/Z207-ND/"
                (
                %i $00.00
                )
              %li
                01× Metal Base Plate
                (
                %i 23.0cm x 14.7cm x 0.2cm
                )
              %li
                Mounting Screws and Bolts
                (
                %i as needed
                )
              (
              %i $00.00
              )
            %b Power:
            %ul
              %li
                01×
                =link_to "Tektronix PS283 DC Power Supply", "https://www.used-line.com/power-supplies/tektronix/tektronix-ps283/item-11173482"
                (
                %i $00.00
                )
              %li
                01× 120V AC 60Hz Wall Socket
                (
                %i for simulating powered generator signal
                )
              (
              %i $00.00
              )
            %b Connectivity:
            %ul
              %li
                02×
                =link_to "Pomona B-24 Banana to Banana Power Supply Test Leads", "https://www.digikey.com/product-detail/en/pomona-electronics/B-24-2/501-1046-ND/"
                (
                %i $00.00
                )
              %li
                02×
                =link_to "Banana Barrel Alligator Clips", "https://www.alliedelec.com/mueller-bu-60s/70188573/"
                (
                %i $00.00
                )
              %li
                01×
                =link_to "75kΩ ± 5% Resistor", "https://www.digikey.com/product-detail/en/stackpole-electronics-inc/CF14JT75K0/CF14JT75K0CT-ND/"
                (
                %i for voltage divider
                )
                (
                %i $00.00
                )
              %li
                01×
                =link_to "15kΩ ± 5% Resistor", "https://www.digikey.com/product-detail/en/stackpole-electronics-inc/CF18JT15K0/CF18JT15K0CT-ND"
                (
                %i for voltage divider
                )
                (
                %i $00.00
                )
              %li
                01×
                =link_to "200Ω ± 1% Resistor", "https://www.digikey.com/product-detail/en/vishay-bc-components/SFR16S0002000FR500/PPC200XCT-ND/"
                (
                %i for red LED
                )
                (
                %i $00.00
                )
              %li.consumer
                =link_to "Bussmann DSS4N-02P Terminal Block Jumper Bars", "https://www.galco.com/buy/Bussmann/DSS4N-02P"
                (
                %i as needed
                )
              %li.consumer
                Rubber Color-Coated Copper Wiring
                (
                %i as needed
                )
              (
              %i $00.00
              )
            %b Miscellaneous:
            %ul
              %li
                01×
                =link_to "5V DC Red LED", "https://hobbyking.com/en_us/led-5mm-red.html"
                (
                %i $00.00
                )
              %li.prototype
                120V AC 60Hz ON/OFF Switch
                (
                %i for simulating generator status
                )
              (
              %i $00.00
              )
            %br
            %u Prototype Total:
            (
            %b.prototype $00.00
            )
            %br
            %u Optimized Consumer Total:
            (
            %b.consumer $00.00
            )
          -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
          %h5 Software Used:
          .row.justify-content-start.align-items-center.pl-3
            .flex-col.pr-3
              .flex-row
                =image_tag "arduino_logo.png", size: "80x80"
            .flex-col.bio
              .flex-row
                =link_to "Arduino IDE", "https://www.arduino.cc/en/Main/Software"
                %br
                For modifying, uploading, and testing software for the BBC system.
          %br
          .row.justify-content-start.align-items-center.pl-3
            .flex-col.pr-3
              .flex-row
                =image_tag "autocad_logo.png", size: "80x80"
            .flex-col.bio
              .flex-row
                =link_to "AutoCAD", "https://www.autodesk.com/products/autocad/overview"
                %br
                For designing and drafting official pinout diagrams to represent the BBC system.
          %br
          .row.justify-content-start.align-items-center.pl-3
            .flex-col.pr-3
              .flex-row
                =image_tag "draw_io_logo.png", size: "80x80"
            .flex-col.bio
              .flex-row
                =link_to "draw.io", "https://www.draw.io/"
                %br
                For designing and drafting overview connection diagrams to represent the BBC system.
          %br
          .row.justify-content-start.align-items-center.pl-3
            .flex-col.pr-3
              .flex-row
                =image_tag "github_logo.png", size: "80x80"
            .flex-col.bio
              .flex-row
                =link_to "GitHub", "https://github.com"
                %br
                For storing backups of and committing changes to all BBC project source code.
          %br
          .row.justify-content-start.align-items-center.pl-3
            .flex-col.pr-3
              .flex-row
                =image_tag "google_apps_logo.png", size: "80x60"
            .flex-col.bio
              .flex-row
                =link_to "Google Apps", "https://apps.google.com/user/hub"
                %br
                For creating, sharing, storing, and managing files amongst all team members for the BBC project.
          %br
          .row.justify-content-start.align-items-center.pl-3
            .flex-col.pr-3
              .flex-row.pr-3
                =image_tag "heroku_logo.png", size: "62x75"
            .flex-col.bio
              .flex-row
                =link_to "Heroku", "https://dashboard.heroku.com/"
                %br
                For publically creating, deploying, and testing the BBC project homepage website.
          %br
          .row.justify-content-start.align-items-center.pl-3
            .flex-col.pr-3
              .flex-row.pr-3
                =image_tag "ror_logo.png", size: "62x75"
            .flex-col.bio
              .flex-row
                =link_to "Ruby on Rails", "https://rubyonrails.org/"
                %br
                For locally designing, creating, and testing the BBC project homepage website.
      -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
      .col-md-3.p-3
        .row.justify-content-start
          %h4 Meet the Team:
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "odell_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Zachary M. O'Dell
            .flex-row.pt-1
              %i Team Lead, Logistics Manager, Software Implementation.
            .flex-row
              =link_to "zmodell42@students.tntech.edu", "mailto:zmodell42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "grey_handshake_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "grey_linkedin_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/zac.odell.1"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "gibson_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Jonathan A. Gibson
            .flex-row.pt-1
              %i Asst. Team Lead, File Manager, Web Designer, Software Tester.
            .flex-row
              =link_to "jagibson44@students.tntech.edu", "mailto:jagibson44@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/7599825"
              =link_to (image_tag "linkedin_logo.png", size: "20x20"), "https://www.linkedin.com/in/lexxeous/"
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/Lexxeous"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "adair_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Joshua P. Adair
            .flex-row.pt-1
              %i Arduino & Software Research and Implementation.
            .flex-row
              =link_to "jpadair42@students.tntech.edu", "mailto:jpadair42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/7593656"
              =link_to (image_tag "linkedin_logo.png", size: "20x20"), "https://www.linkedin.com/in/joshua-adair-811904126/"
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/joshua.adair.71"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "chulani_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Naveen M. Chulani
            .flex-row.pt-1
              %i Hardware Researcher, Presentation Lead.
            .flex-row
              =link_to "nmchulani42@students.tntech.edu", "mailto:nmchulani42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/7594978"
              =link_to (image_tag "grey_linkedin_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/naveen.chulani"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "iyizoba_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Clinton C. Iyizoba
            .flex-row.pt-1
              %i Hardware Researcher, Asst. Presentation Lead.
            .flex-row
              =link_to "cciyizoba42@students.tntech.edu", "mailto:cciyizoba42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/6559420"
              =link_to (image_tag "linkedin_logo.png", size: "20x20"), "https://www.linkedin.com/in/clinton-iyizoba-a2090a124/"
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/chikwelueze.iyizoba"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "hashi_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Fahmi I. Hashi
            .flex-row.pt-1
              %i Hardware Constructor, Designer, & Tester.
            .flex-row
              =link_to "fihashi42@students.tntech.edu", "mailto:fihashi42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "handshake_logo.png", size: "20x20"), "https://tntech.joinhandshake.com/users/6563051"
              =link_to (image_tag "grey_linkedin_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "facebook_logo.png", size: "20x20"), "https://www.facebook.com/fahmii2"
        %br
        .row.justify-content-start
          .flex-col.pr-3
            .flex-row
              =image_tag "blank_headshot.png", size: "100x100"
          .flex-col.bio
            .flex-row
              %b Jeff C. Tilley
            .flex-row.pt-1
              %i CAD Diagram Creator, Hardware Constructor & Designer.
            .flex-row
              =link_to "jctilley42@students.tntech.edu", "mailto:jctilley42@students.tntech.edu"
            .flex-row.pt-1
              =link_to (image_tag "grey_handshake_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "grey_linkedin_logo.png", size: "20x20"), welcome_path
              =link_to (image_tag "grey_facebook_logo.png", size: "20x20"), welcome_path
    -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
    .row.pt-3.justify-content-center
      %i Special thanks to Tennessee Technological University, Dr. Michael A. Baswell,
    .row.p-0.justify-content-center
      %i and the Electrical & Computer Engineering department for sponsoring this project.
    .row.py-3.justify-content-center
      =link_to (image_tag "ttu_logo.png", size: "150x150"), "https://www.tntech.edu/"
    -#------------------------------------------------------------------------------------------------------------------------------------------------------------------
