// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome
  a
    color: blue
    background-color: white

  #banner
    width: auto
    height: auto
    overflow-x: hidden

  .bio
    width: 250px

  .justify-col
    text-align: justify !important

  .prototype
    color: #E53935

  .consumer
    color: #76FF03

  table
    th
      text-align: center
      padding-left: 8px
      padding-right: 8px

    td
      padding: 6px

    .row_group
      border-top: 1px solid black

    .headings
      border-bottom: 0px
      border-left: 0px
      border-right: 0px
      border-style: double

    .heading
      padding: 8px

    .totals
      border-left: 0px
      border-right: 0px
      border-style: double

    .table_category


    .table_component


    .table_quantity
      text-align: center

    .table_prototype
      color: #E53935
      text-align: right


    .table_consumer
      color: #76FF03
      text-align: right

  ul
    list-style: square
    margin-left: -0.5em
