// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome
  a{
    color: blue;
    background-color: white;
  }

  #banner{
    width: auto;
    height: auto;
    overflow-x: hidden;
  }

  .bio{
    width: 250px;
  }

  ul{
    list-style-type: square; 
  }
